:root {
  --color-primary: royalblue;
  --color-secondary: midnightblue;
}

main {
  margin-top: 20vh;
}

body {
  margin: 0;
  background-image: radial-gradient(white 45%, rgba(255, 255, 255, 0.75) 100%),
    url("/dist/pattern.svg");
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

.card-wrapper {
  background: var(--color-primary);
  background: linear-gradient(
    128deg,
    var(--color-primary),
    var(--color-secondary)
  );
  border-radius: 1.2rem;
  box-shadow: lightsteelblue 0 0 3.4rem;
  padding: 1.2rem;
  padding-bottom: 0;
}

.card {
  padding: 1rem 3rem;
  background-color: white;
  border-radius: 1rem;
  margin-bottom: 1.2rem;
}

.card:last-of-type {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

h2 {
  margin-top: 1.5em;
  font-size: 18px;
}
